
body{
    font-family: arial, sans-serif;
    font-size: 10pt;
}

h1{
    font-family: arial;
    font-size: 26pt;
    color: blue;
}

h2{
    font-family: arial;
    font-size: 18pt;
    color: green;
}

.id_hagar{
   font-style: italic;
   font-weight: bold;
}

.id_king{
   font-style: italic;
}